button {
    //border : 1px grey solid;
    height: 100%;
    width : 100%;
    font-size : 5em !important;
}

img {
   // border : 1px grey solid;
    height: 100%;
    width : 100%;
    //font-size : 5em !important;
}